<section>
  <h1>BLOG SENAI</h1>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="rep1.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">How Succesful People Make the Most of Their Business</h5>
      <p class="card-text">Um guia para criar seu próprio blog</p>
      <p class="coment">Amco | Comments</p>
      <a href="#" class="btn btn-primary">Read More →</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="rep2.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">How Succesful People Make the Most of Their Business</h5>
      <p class="card-text">Um guia para criar seu próprio blog</p>
      <p class="coment">Amco | Comments</p>
      <a href="#" class="btn btn-primary">Read More →</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="rep3.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">How Succesful People Make the Most of Their Business</h5>
      <p class="card-text">Um guia para criar seu próprio blog</p>
      <p class="coment">Amco | Comments</p>
      <a href="#" class="btn btn-primary">Read More →</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="rep4.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">How Succesful People Make the Most of Their Business</h5>
      <p class="card-text">Um guia para criar seu próprio blog</p>
      <p class="coment">Amco | Comments</p>
      <a href="#" class="btn btn-primary">Read More →</a>
    </div>
  </div>
</section>